<!DOCTYPE html>
<head>
   <title> Power Control</title>
   <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
   <!-- Optional theme -->
   <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-theme.min.css')}}">
   <!-- Latest compiled and minified JavaScript -->
   <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
   <h1> 2 Panel Power control</h1>
   <a href="/" class="btn btn-block btn-lg btn-default">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
</svg>
      Home</a>
   {% for pin in pins %}
   <h2>{{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently <strong>on</strong></h2><div class="row"><div class="col-md-2">
   <a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a> </div></div>
   {% else %}
      is currently <strong>off</strong></h2><div class="row"><div class="col-md-2">
       <center><a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a> </div></div>
   {% endif %}
   {% endfor %}
</body>
</html
